.app {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.appMain {
  flex: 1;
  min-width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.formButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;

  margin-bottom: 3rem;
}

@media (width <= 768px) {
  .appMain {
    padding: 1rem;
  }

  .formButtons {
    flex-direction: column;
    align-items: center;
  }

  .buttonLarge {
    width: 100%;
    max-width: 300px;
  }
}
