@layer utilities {
  /* Backgrounds */
  .bg-custom-beige {
    background-color: var(--custom-beige);
  }

  .bg-custom-blue {
    background-color: var(--custom-blue);
  }

  .bg-custom-light-gray {
    background-color: var(--custom-light-gray);
  }

  .bg-custom-gray {
    background-color: var(--custom-gray);
  }

  .bg-custom-dark-gray {
    background-color: var(--custom-dark-gray);
  }

  .bg-custom-coal {
    background-color: var(--custom-coal);
  }

  .bg-custom-pistachio {
    background-color: var(--custom-pistachio);
  }

  .bg-custom-yellow {
    background-color: var(--custom-yellow);
  }

  .bg-custom-chocolate {
    background-color: var(--custom-chocolate);
  }

  .bg-custom-green {
    background-color: var(--custom-green);
  }

  .bg-custom-pink {
    background-color: var(--custom-pink);
  }

  .bg-custom-dark-night {
    background-color: var(--custom-dark-night);
  }

  .bg-custom-red {
    background-color: var(--custom-red);
  }

  /* Text */
  .text-custom-beige {
    color: var(--custom-beige);
  }

  .text-custom-blue {
    color: var(--custom-blue);
  }

  .text-custom-light-gray {
    color: var(--custom-light-gray);
  }

  .text-custom-gray {
    color: var(--custom-gray);
  }

  .text-custom-dark-gray {
    color: var(--custom-dark-gray);
  }

  .text-custom-coal {
    color: var(--custom-coal);
  }

  .text-custom-pistachio {
    color: var(--custom-pistachio);
  }

  .text-custom-yellow {
    color: var(--custom-yellow);
  }

  .text-custom-chocolate {
    color: var(--custom-chocolate);
  }

  .text-custom-green {
    color: var(--custom-green);
  }

  .text-custom-pink {
    color: var(--custom-pink);
  }

  .text-custom-dark-night {
    color: var(--custom-dark-night);
  }

  .text-custom-red {
    color: var(--custom-red);
  }

  /* Border */
  .border-custom-beige {
    border-color: var(--custom-beige);
  }

  .border-custom-blue {
    border-color: var(--custom-blue);
  }

  .border-custom-light-gray {
    border-color: var(--custom-light-gray);
  }

  .border-custom-gray {
    border-color: var(--custom-gray);
  }

  .border-custom-dark-gray {
    border-color: var(--custom-dark-gray);
  }

  .border-custom-coal {
    border-color: var(--custom-coal);
  }

  .border-custom-pistachio {
    border-color: var(--custom-pistachio);
  }

  .border-custom-yellow {
    border-color: var(--custom-yellow);
  }

  .border-custom-chocolate {
    border-color: var(--custom-chocolate);
  }

  .border-custom-green {
    border-color: var(--custom-green);
  }

  .border-custom-pink {
    border-color: var(--custom-pink);
  }

  .border-custom-dark-night {
    border-color: var(--custom-dark-night);
  }

  .border-custom-red {
    border-color: var(--custom-red);
  }
}
