@import 'tailwindcss';

@config "../../tailwind.config.js";

@utility btn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: ButtonFace;
}

body {
  display: flex;
  place-items: center;

  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

#root {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 4rem;
  text-align: center;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: #213547;
  text-rendering: optimizelegibility;

  background-color: #c2e0bc;

  font-synthesis: none;
}
